@media (min-width: 610px) and (max-width: 1024px) {

    /*    header*/
    header button {
        min-width: 20vw;
    }

    #subtext p {
        max-width: 80vw;
    }

    #subtext button,
    #call-to-action button {
        min-width: 30vw;
    }

    #banner {
        width: 80vw;
    }

    /*advantage image*/
    .advantage img {
        grid-row: 1/2;
        display: block;
        min-width: 60vw;
        margin: 0 auto;
    }
/*advantage*/
    .advantage{
        grid-template-columns: 80vw;
        grid-template-rows: repeat(2,auto);
        grid-row-gap: 4rem;
        text-align: center;
    }
    /*::before background image*/
    #wrapper-grow::before {
        width: 100vw;
        content: "";
        background: url(images/bg-section-top-mobile-1.svg) no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        min-height: 18rem;
        top: -15rem;
    }

    #wrapper-user::before {
        width: 100vw;
        height: 8rem;
        content: "";
        background: url(images/bg-section-top-mobile-1.svg) no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        min-height: 18rem;
        top: -15rem;
    }

    /*::after background image*/
    #wrapper-grow::after {
        width: 100vw;
        content: "";
        background: url(images/bg-section-bottom-mobile-1.svg) no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        min-height: 13rem;
    }

    #wrapper-user::after {
        width: 100vw;
        content: "";
        background: url(images/bg-section-bottom-mobile-2.svg) no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        min-height: 18rem;
     
    }

    /*newsletter*/
    #footer-menu::before {
        background: url("/images/bg-footer-top-mobile.svg") no-repeat;
        background-position: center;
        background-size: contain;
        content: " ";
        min-height: 10rem;
        width: 100vw;
        position: absolute;
        top: -7rem;
    }


    #footer-container {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
    }

    /*newsletter*/
    #newsletter {
        grid-row: 1/2;
        display: grid;
        grid-row-gap: 2rem;
    }

    #newsletter h3 {
        font-size: 1.5rem;
    }

    form {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #newsletter button {
        width: 30vw;
        margin-top: 1.5rem;
    }

    #newsletter button a {
        font-size: 1rem;
        font-weight: 700;
    }

    #tape {
        width: 70vw;
    }

    #newsletter button,
    #tape {
        padding: 1rem;
    }

    #icons-social {
        grid-column-gap: 1.5rem;
    }
}




@media (min-width: 320px) and (max-width: 609px) {
    
    #grid-container{
        margin-top: 2rem;
    }
    /*    header*/
    header img{
        max-width: 40vw;
    }
    header button {
        min-width: 25vw;
    }

    #subtext p {
        max-width: 80vw;
    }

    #subtext button,
    #call-to-action button {
        min-width: 30vw;
    }

    #banner {
        min-width: 80vw;
    }
    #number{
        min-width: 80vw;
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 5rem;
        justify-content: center;
        margin: 0 auto;
    }
    #number h1{
        text-align: left;
    }
    /*advantage image*/
    .advantage img {
        grid-row: 1/2;
        display: block;
        min-width: 60vw;
        margin: 0 auto;
    }
/*advantage*/
    .advantage{
        grid-template-columns: 80vw;
        grid-template-rows: repeat(2,auto);
        grid-row-gap: 4rem;
        text-align: center;
    }
    /*::before background image*/
    #wrapper-grow::before {
        width: 100vw;
        content: "";
        background: url(images/bg-section-top-mobile-1.svg) no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        height: 14.5rem;
        top: -13rem;
    }

    #wrapper-user::before {
        width: 100vw;
        height: 8rem;
        content: "";
        background: url(images/bg-section-top-mobile-1.svg) no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        height: 14.5rem;
        top: -13rem;
    }

    /*::after background image*/
    #wrapper-grow::after {
        width: 100vw;
        content: "";
        background: url(images/bg-section-bottom-mobile-1.svg) no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        min-height: 13rem;
        bottom: -9rem;
    }

    #wrapper-user::after {
        width: 100vw;
        content: "";
        background: url(images/bg-section-bottom-mobile-2.svg) no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        min-height: 14rem;
    }

    #footer-menu::before {
        background: url("/images/bg-footer-top-mobile.svg") no-repeat;
        background-position: center;
        background-size: contain;
        content: " ";
        min-height: 10rem;
        width: 100vw;
        position: absolute;
        top: -6rem;
    }
/*call to action*/
    #call-to-action{
        padding-bottom: 5rem;
    }
/*footer*/
    #footer-container {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
    }

    /*newsletter*/
    #newsletter {
        grid-row: 1/2;
        display: grid;
        grid-row-gap: 2rem;
    }

    #newsletter h3 {
        font-size: 1.5rem;
    }

    form {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #newsletter button {
        width: 30vw;
        margin-top: 1.5rem;
    }

    #newsletter button a {
        font-size: 1rem;
        font-weight: 700;
    }

    #tape {
        width: 70vw;
    }

    #newsletter button,
    #tape {
        padding: 1rem;
    }

    #icons-social {
        grid-column-gap: 2rem;
    }
}
